<web-app>
<servlet>
<servlet-name>Display</servlet-name>
<servlet-class>Display</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Display</servlet-name>
<url-pattern>/hellopost</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>DatabaseAccess</servlet-name>
<servlet-class>DatabaseAccess</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DatabaseAccess</servlet-name>
<url-pattern>/page2</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>DatabaseAccess1</servlet-name>
<servlet-class>DatabaseAccess1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DatabaseAccess1</servlet-name>
<url-pattern>/page3</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>DatabaseAccess2</servlet-name>
<servlet-class>DatabaseAccess2</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DatabaseAccess2</servlet-name>
<url-pattern>/page4</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>DatabaseAccess3</servlet-name>
<servlet-class>DatabaseAccess3</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DatabaseAccess3</servlet-name>
<url-pattern>/page7</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>DatabaseAccess4</servlet-name>
<servlet-class>DatabaseAccess4</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DatabaseAccess4</servlet-name>
<url-pattern>/page10</url-pattern>
</servlet-mapping>
</web-app>